<div id="outline-container-sec-1" class="outline-2">
  <h2 id="sec-1">Hello!</h2>
  <div class="outline-text-2" id="text-1">
    <p>I live, work, and sometimes sleep in San Franscisco :)</p>

    <p>I'm always happy to connect! <b>Ping me:</b></p>
    <table>
      <tr>
        <th><a href="https://www.linkedin.com/in/localredhead/en">LinkedIn</a></th>
        <th><a href="https://github.com/localredhead">GitHub</a></th>
        <th><a href="https://twitter.com/localredhead">Twitter</a></th>
      </tr>
      <tr>
        <td><a href="https://www.linkedin.com/in/localredhead/en"><img class="navatar" width="100px" height="100px" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAnvAAAAJGNiOTc0NDI0LTZlMDYtNDdiNS1hOGZmLTU0ZTNlZTZlZjMwMQ.jpg"></a></td>
        <td><a href="https://github.com/localredhead"><img class="navatar" width="100px" height="100px" src="https://octodex.github.com/images/daftpunktocat-thomas.gif"></a></td>
        <td><a href="https://twitter.com/localredhead"><img class="navatar" width="100px" height="100px" src="https://pbs.twimg.com/profile_images/483392854/cloak_and_10101s_thumb_400x400.gif"></a></td>
      </tr>
    </table>
    <hr/>
  </div>
</div>
