-# - @title = "Index"
.row
  .small-12.medium-4.large-6.columns.namelogo
    %h1 Levi Strope
  .small-12.medium-8.large-6.columns
    -# .nav-bar
    -#   %ul.button-group
    -#     %li
    -#       %a.button{href: "#"} About
    -#     %li
    -#       %a.button{href: "#"} Blog
    -#     %li
    -#       %a.button{href: "#"} Contact
.hero
  .row
    .large-12.columns.intro-text
      %p
        Two roads diverged in a wood, and I—
        %br I took the one less traveled by,
        And that has made all the difference.
        %br - Robert Frost
.row.about
  .medium-6.large-8.columns
    %p
      Hello!
    %p
      I am Levi Strope.  I live and work in San Franscisco and I have been in the bay for 5 years.
    %p
      I have a natural curiosity for hacking and a desire to craft software the right way.  This web space will
      be dedicated to my geekery and love of code.
    %p
      My plan is to blog about pretty much everything and anything that interests me.
    %p
      This site was created 100% with emacs, middleman, org-mode, some google searching, foundation 5, and a few blog posts worth of knowledge.
  .medium-6.large-4.columns.text-center
    %img{ src: "https://media.licdn.com/mpr/mpr/shrinknp_500_500/p/6/005/095/364/3fd9ba3.jpg"}
    -# TODO list blog entries here?
.row.contact
  %hr
    .small-12.columns
      .small-4.columns
        %strong> Linkedin 
        %a{ href: "http://www.linkedin.com/in/localredhead/en" }
          %img{ src: "https://media.licdn.com/mpr/mpr/shrinknp_500_500/p/6/005/095/364/3fd9ba3.jpg"}
      .small-4.columns.square
        %strong> Github 
        %a{ href: "https://github.com/localredhead" }
          %img{ src: "https://octodex.github.com/images/daftpunktocat-thomas.gif" }
      .small-4.columns
        %strong> Twitter
        %a{ href: 'https://twitter.com/localredhead' }
          %img{ src: "https://pbs.twimg.com/profile_images/483392854/cloak_and_10101s_thumb_400x400.gif" }
%footer.row
  %script{ src: "js/foundation/foundation.clearing.js" }
